body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
.banner {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 30px;
}

/* NAVBAR */
nav {
  background-color: #34495e;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

/* ISI */
main {
  padding: 20px;
}

/* FOOTER */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
}
