body {
    font-family: Arial;
    margin: 0;
}

.banner {
    background: #2c7be5;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    text-align: center;
}

nav a {
    color: white;
    padding: 14px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background: #555;
}

main {
    padding: 20px;
}

.galeri div {
    display: inline-block;
    margin: 10px;
}

.galeri img {
    width: 200px;
    height: 150px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
